div 
{
    margin: 5px;
    text-align: center;    
}

table 
{
    border: 1px solid;   
}

td
{
    border: 1px solid;
}

th 
{
    border: 1px solid;
    margin: 5;
}

.Title2-center
{
    margin: 5px;
    text-align: center;
}
